$sidebarWidth: 20rem;
$sidebarHeight: 86rem;
$borderRadius: 50%;
$yellow: #FFB400;
$separatorColor: #F0F0F6;
$lightGray: #767676;
$white: #FFFFFF;
$backgroundColor: #E4E6EB;
$green: #7EB942;
$titleBlackColor: #2B2B2B;
$iconColorFilter: invert(63%) sepia(53%) saturate(986%) hue-rotate(2deg) brightness(104%) contrast(107%);


$font-weights: (
  "normal": 400,
   "big": 500,
   "bold": 600,
   "vbold": 700
);
