
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', serif;
}

.container {

}

.sidebar-wrapper {
  width: 305px;
  height: 1315px;
  display: flex;
  flex-direction: column;
  //align-items: center;
  padding: 0 46px 0 40px;
}
.profile-image {
  margin: 50px 81px 0 74px;
  height: 150px;
  width: 150px;
  border-radius: 300px;
  object-fit: cover;
  overflow: hidden;
}
.profile-image__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.social-medias {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.social-media-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: #FFB400;
  height: 24px;
  width: 24px;
}

.line-separator{
  height: 1.5px;
  background-color: #F0F0F6;
  width: 100%;
}

.profile-information {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.profile-information__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.information-key {
  padding: 0 0.3rem 0 0.25rem;
  background-color: #FFB400;

}

.information-value {
}


.languages-information{

}

.language-information-wrapper {
  display: flex;
  flex-direction: column;
}
.language-information{
  display: flex;
  justify-content: space-between;
  color: #767676;
}
.language-information__key {

}

.language-information__value{

}



